body{
    margin: 0;
    scroll-behavior: smooth;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    font-size: 2vw;
    position: relative;
    width: 100%;
    height: 10%;
    background-color: rgb(10, 179, 179);
}

.navbar a{
    cursor: auto;
}

.form {
	margin: 15%;
	float: right;
	display: grid;
	grid-template-columns: auto auto;
	align-items: left;
}

.form > div {
	margin: 10%;
}

.form > input {
	height: 50%;
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid black;
}

#submit {
	background-color: white; 
	color: black;
	border: 2px solid #008CBA;
	transition-duration: 1s;
	height: 80%;
	cursor: pointer;
	margin: 8%;
}

#submit:hover {
	background-color: #008CBA;
	color: white;
}

 body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
  padding: 20px;
  margin: 20px;
}
body {
    padding-left: 11em;
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: purple;
    background-color: #d8da3d }
  ul.navbar {
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
  h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }

body {
  overflow-x: scroll;
  overflow-y: hidden;
  line-height:1;
}

